<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
var user = null;
function getquestion(){
    user = document.getElementById("userInput").value;
    window.location.assign('/' + user);
}
</script>

<html>
    <head>
        <title>QWERTYprints</title>
    </head>
    <body>
        <h1 id="directions">Please enter your question and choose recommended or write your own tag and press submit button to begin.</h1>
        <p>Please enter your question below:</p>
        <form id="userform" onsubmit="return false;">
            <input type="number" id="userInput" />
            <input type="submit" onclick="getquestion();" />
        </form>
        
    </body>
</html>
