<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">
var user = null;
function getquestion(){
    user = document.getElementById("userInput").value;
    window.location.assign('/' + user);
}
</script>

<html>
    <head>
        <title>QWERTYprints</title>
    </head>
    <body>
        <h2 id="directions">Enter question and clicknext button</h1>
        <p>Please enter your question title below:</p>
        <form id="questionform" onsubmit="return false;">
            <input id="questionTitle" />
            <p>Please enter your question body below:</p>
            <textarea id="questionBody" ></textarea>
            <input type="submit" onclick="getQuestionBody();" value="Next"/>
        </form>
    </body>
</html>
